numpy>=1.17
astropy
scipy>=0.19.1
mpmath
emcee>=3.0.0
matplotlib
sklearn
numba>=0.43.1
future
dynesty
pymultinest
nestcheck
corner>=2.2.1
h5py
scikit-image
pyyaml
pyxdg

#schwimmbad==0.3.0
-e git://github.com/adrn/schwimmbad.git@master#egg=schwimmbad
multiprocess>=0.70.8
#-e git://github.com/sibirrer/fastell4py.git#egg=fastell4py
slitronomy==0.3.2

# requirements for tests
colossus