numpy>=1.13
astropy>=2.0
scipy>=0.19.1
mpmath
emcee>=3.0.0
matplotlib
sklearn
numba>=0.43.1
future
dynesty
pymultinest
pypolychord
nestcheck
corner
h5py
scikit-image
#schwimmbad==0.3.0
-e git://github.com/adrn/schwimmbad.git@master#egg=schwimmbad
multiprocess>=0.70.8
#-e git://github.com/sibirrer/fastell4py.git#egg=fastell4py